
  <div class="about_container">
    <div class="about_side_bar">
      <!--  menu icon -->
      <div class="menu_icon">
        <img src="/css/img/menu_icon_black.png"/>
      </div>

      <div class="side_navigation">
        <p>me</p>
        <hr>
      </div>

    </div>
    <div class="about_section_container">
      <video loop muted autoplay class="fullscreen-video">
       <source src="css/img/video.mp4" type="video/mp4">
      </video>
      <div class="video-overlay"></div>
      <div class="about_me_container">
        <h1> I'm Aimen. </h1>
        <p> Duis ac congue lectus, vel eleifend purus. Fusce a pretium justo.
          Pellentesque venenatis ipsum ligula, eget molestie nisl ullamcorper
           tempus. Praesent congue, justo vitae suscipit euismod, justo ante
            elementum lorem, sagittis<span> commodo nibh lacus in nibh</span>.
            Integer ornare eros nibh, non feugiat orci congue quis.</p>

        <h2> Through design I've developed: </h2>
        <p>- Duis ac congye lecture<br>
          - eget molestie nisl<br>
          - justo vitae suscipit euismod<br></p>
        <h2> I devote some of my time: </h2>
        <p>Pellentesque malesuada sodales diam, at faucibus eros egestas a.
           Cras convallis sapien at risus sollicitudin dignissim. Pellentesque
           in pellentesque neque. Sed eget ante tellus.</p>

        <div class="social_media_container">
          <img src="css/img/behance_logo.png"/>
          <img src="css/img/linkedin_logo.png"/>
          <img src="css/img/insta_logo.png"/>
        </div>
      </div>


    </div>

  <div class="menu">
    <div class="menu_side_bar">
      <div class="main_page_logo">
        <img src="css/img/menu_icon_white.png" />
      </div>

  </div>
    <div class="menu_items">
      <p><a href="." >home </a></p>
      <p><a href="projects.html"> my work</a></p>
      <p><a href="about.html"> who am I? </a></p>
      <p><a href="blog.html"> blog</a> </p>
    </div>

  </div>
