
  <div class="about_container">
    <div class="about_side_bar">
      <!--  menu icon -->
      <div class="menu_icon">
        <img src="/css/img/menu_icon_black.png"/>
      </div>

      <div class="side_navigation">
        <p>ME</p>
        <hr>
      </div>

    </div>
    <div class="about_section_container">
      <div class="about_header">
        <div class="header_text">

        <p>I tell <strong>stories</strong> using design.</p>

        <p>Phasellus diam magna, elementum at efficitur vitae, efficitur ac eros.
           Cras et egestas metus, in congue odio. Curabitur ac mi elit.
           Morbi congue enim mi. Integer ac sem in eros efficitur blandit.
            Cras scelerisque leo eget sem porttitor, eget lacinia nunc laoreet.
            Vestibulum eu nisl enim. In cursus posuere ex nec iaculis. </p>
      </div>

        
      </div>

      <div class="skills_container">
        <p> Skills I've developed: </p>
        <p> - Donec fringilla enim non felis pharetra varius.</p>
        <p> - Integer id purus ac turpis bibendum accumsan ut et ex.</p>
        <p> - Quisque malesuada neque vitae pellentesque consectetur.</p>
        <p> - Vestibulum euismod eros sit amet odio vestibulum auctor.</p>

      </div>



    </div>

  <div class="menu">
    <div class="menu_side_bar">
      <div class="main_page_logo">
        <img src="css/img/menu_icon_white.png" />
      </div>

  </div>
    <div class="menu_items">
      <p><a href="." >home </a></p>
      <p><a href="projects.html"> my work</a></p>
      <p><a href="about.html"> who am I? </a></p>
      <p><a href="blog.html"> blog</a> </p>
    </div>

  </div>
