
  <div class="blog_container">
    <div class="blog_side_bar">
      <!--  menu icon -->
      <div class="menu_icon">
        <img src="/css/img/menu_icon_black.png"/>
      </div>

      <div class="side_navigation">
        <p> BLOG </p>
        <hr>
      </div>

    </div>
    <div class="blog_section_container">
      <div class="blog_section_intro">
        <p>Suspendisse vel volutpat mi. Aenean leo nunc, tincidunt ac dolor in,
           egestas sodales mauris. Ut sed lacus enim. Nullam varius consectetur
          facilisis. Lorem lipsum dude. Design blogs and small use cases.</p>
      </div>

      <div class="posts_containers">

        <div class="post">
          <div class="post_info">
            <h1> Title of blog </h1>
            <h3> 21/06/2017 </h3>
            <p> Duis aliquam eu mauris sed fermentum. Nulla elementum felis et
               justo venenatis volutpat. Quisque sagittis ligula finibus lorem
               mattis gravida. Suspendisse sed velit nibh. Integer diam urna,
                vehicula et turpis quis, sagittis aliquam libero. Vivamus
                sagittis aliquet turpis quis euismod. Nunc vulputate, </p>
            <div class="view_post">READ MORE</div>
          </div>
          <div class="post_image">
            <img src="css/img/post1.jpg"/>
          </div>
        </div>

        <hr class="post_divider">

        <div class="post">
          <div class="post_info">
            <h1> Title of blog </h1>
            <h3> 21/06/2017 </h3>
            <p> Duis aliquam eu mauris sed fermentum. Nulla elementum felis et
               justo venenatis volutpat. Quisque sagittis ligula finibus lorem
               mattis gravida. Suspendisse sed velit nibh. Integer diam urna,
                vehicula et turpis quis, sagittis aliquam libero. Vivamus
                sagittis aliquet turpis quis euismod. Nunc vulputate, </p>
            <div class="view_post">READ MORE</div>
          </div>
          <div class="post_image">
            <img src="css/img/post2.jpg"/>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="menu">
    <div class="menu_side_bar">
      <div class="main_page_logo">
        <img src="css/img/menu_icon_white.png" />
      </div>

  </div>
    <div class="menu_items">
      <p><a href="." >home </a></p>
      <p><a href="projects.html"> my work</a></p>
      <p><a href="about.html"> who am I? </a></p>
      <p><a href="blog.html"> blog</a> </p>
    </div>

  </div>
