
  <div class="blog_container">
    <div class="blog_side_bar">
      <!--  menu icon -->
      <div class="menu_icon">
        <img src="/css/img/menu_icon_black.png"/>
      </div>

      <div class="side_navigation">
        <p> blog </p>
        <hr>
      </div>

    </div>
    <div class="blog_section_container">
      <div class="blog_section_intro">
        <p>Suspendisse vel volutpat mi. Aenean leo nunc, tincidunt ac dolor in,
           egestas sodales mauris. Ut sed lacus enim. Nullam varius consectetur
          facilisis.
        </p>
        <h5> Recent blog posts </h5>
      </div>

      <div class="post_container">

        <div class="post_holder">
          <div class="post_image">
            <div class="post_img">
              <div class="post_date">21/07/2001</div>
              <div class="post_title"> post title </div>
              <div class="post_description"> insert description here </div>
            </div>
          </div>
        </div>

        <div class="post_holder">
          <div class="post_image">
            <div class="post_img">
              <div class="post_date">21/07/2001</div>
              <div class="post_title"> post title </div>
              <div class="post_description"> insert description here </div>
            </div>
          </div>
        </div>

        <div class="post_holder">
          <div class="post_image">
            <div class="post_img">
              <div class="post_date">21/07/2001</div>
              <div class="post_title"> post title </div>
              <div class="post_description"> insert description here </div>
            </div>
          </div>
        </div>


      </div>
      <div class="see_more_posts_link">
        <hr>
        <h5> See all posts </h5>
      </div>
    </div>

  </div>

  <div class="menu">
    <div class="menu_side_bar">
      <div class="main_page_logo">
        <img src="css/img/menu_icon_white.png" />
      </div>

  </div>
    <div class="menu_items">
      <p><a href="." >home </a></p>
      <p><a href="projects.html"> my work</a></p>
      <p><a href="about.html"> who am I? </a></p>
      <p><a href="blog.html"> blog</a> </p>
    </div>

  </div>
