<div class="main_page_container">

  <div class="work_side_bar">
    <!--  menu icon -->
    <div class="menu_icon">
      <img src="/css/img/menu_icon_black.png"/>
    </div>

    <div class="side_navigation">
      <p> welcome </p>
      <hr>
    </div>


  </div>
  <div class="main_page_intro_container">
    <div class="intro_text">
      <h1>Hello</h1>
      <h2>I'm a UI/UX enthusiast.</h2>

      <div class="main_page_btns_container">
        <div class="main_page_btn">
          <h3> see my work</h3>
        </div>
        <div class="main_page_btn">
          <h3>learn about me</h3>
        </div>

      </div>
    </div>
  </div>




</div>

<div class="menu">
  <div class="menu_side_bar">
    <div class="main_page_logo">
      <img src="css/img/menu_icon_white.png" />
    </div>

</div>
  <div class="menu_items">
    <p>home</p>
    <p>my projects </p>
    <p> who am I? </p>
    <p> blog </p>
    <!-- <div class="social_media">
      <img class="social_media_icon" src="css/img/linkedin_logo.png"/>
      <hr>
      <img class="social_media_icon" src="css/img/behance_logo.png"/>
      <hr>
      <img class="social_media_icon" src ="css/img/insta_logo.png"/>
    </div> -->
  </div>

</div>
