
  <div class="work_container">
    <div class="work_side_bar">
      <!--  menu icon -->
      <div class="menu_icon">
        <img src="/css/img/menu_icon_black.png"/>
      </div>

      <div class="side_navigation">
        <p> projects </p>
        <hr>
      </div>

    </div>
    <div class="work_section_container">
      <div class="work_section_intro">
        <p>Below are some of my case studies I worked on. Curabitur iaculis nunc
        blandit convallis varius. Aliquam condimentum elit metus, vitae
         malesuada mi venenatis maximus. Nunc bibendum, orci ut egestas blandit,
          nisl nulla condimentum ex.
        </p>
      </div>

      <div class="projects_container">

        <div class="project">
          <div class="project_img">
            <img src="css/img/work1.png" />
          </div>
          <div class="project_title">Automatic classfication of
            images
          </div>
          <div class="project_type">Branding, UX/UI, software development</div>
        </div>

        <div class="project">
          <div class="project_img">
            <img src="css/img/work2.png" />
          </div>
          <div class="project_title">Unihub </div>
          <div class="project_type">UX/UI, redesign, web development</div>
        </div>

        <div class="project">
          <div class="project_img">
            <img src="css/img/work3.png" />
          </div>
          <div class="project_title">Case study work 1</div>
          <div class="project_type">UI/UX, web development</div>
        </div>

        <div class="project">
          <div class="project_img">
            <img src="css/img/work4.png" />
          </div>
          <div class="project_title">case study work 2</div>
          <div class="project_type">UX/UI, redesign, app developement </div>
        </div>
      </div>


    </div>

  </div>

  <div class="menu">
    <div class="menu_side_bar">
      <div class="main_page_logo">
        <img src="css/img/menu_icon_white.png" />
      </div>

  </div>
    <div class="menu_items">
      <p><a href="." >home </a></p>
      <p><a href="projects.html"> my work</a></p>
      <p><a href="about.html"> who am I? </a></p>
      <p><a href="blog.html"> blog</a> </p>
    </div>

  </div>
