
  <div class="work_container">
    <div class="work_side_bar">
      <!--  menu icon -->
      <div class="menu_icon">
        <img src="/css/img/menu_icon_black.png"/>
      </div>

      <div class="side_navigation">
        <p> projects </p>
        <hr>
      </div>

    </div>
    <div class="work_section_container">
      <div class="work_section_intro">
        <p>Below are some of my case studies I worked on. Curabitur iaculis nunc
        blandit convallis varius. Aliquam condimentum elit metus, vitae
         malesuada mi venenatis maximus. Nunc bibendum, orci ut egestas blandit,
          nisl nulla condimentum ex.
        </p>
      </div>

      <div class="project_container">
        <div class="type_of_work">case study</div>
        <div class="work_info">
          <div class="work_title">Title</div>
          <div class="work_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales nisl non quam ullamcorper pretium.
            Mauris eget vulputate lacus. Praesent vulputate hendrerit auctor
          </div>
          <div class="see_work_btn">VIEW CASE STUDY</div>
        </div>
        <div class="work_done">UI/UX</div>
      </div>

      <div class="project_container">
        <div class="type_of_work">case study</div>
        <div class="work_info">
          <div class="work_title">Title</div>
          <div class="work_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales nisl non quam ullamcorper pretium.
            Mauris eget vulputate lacus. Praesent vulputate hendrerit auctor
          </div>
          <div class="see_work_btn">VIEW CASE STUDY</div>
        </div>
        <div class="work_done">UI/UX</div>
      </div>

      <div class="project_container">
        <div class="type_of_work">case study</div>
        <div class="work_info">
          <div class="work_title">Title</div>
          <div class="work_description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sodales nisl non quam ullamcorper pretium.
            Mauris eget vulputate lacus. Praesent vulputate hendrerit auctor
          </div>
          <div class="see_work_btn">VIEW CASE STUDY</div>
        </div>
        <div class="work_done">UI/UX</div>
      </div>
    </div>

  </div>

  <div class="menu">
    <div class="menu_side_bar">
      <div class="main_page_logo">
        <img src="css/img/menu_icon_white.png" />
      </div>

  </div>
    <div class="menu_items">
      <p>home</p>
      <p>my projects </p>
      <p> who am I? </p>
      <p> blog </p>
      <!-- <div class="social_media">
        <img class="social_media_icon" src="css/img/linkedin_logo.png"/>
        <hr>
        <img class="social_media_icon" src="css/img/behance_logo.png"/>
        <hr>
        <img class="social_media_icon" src ="css/img/insta_logo.png"/>
      </div> -->
    </div>

  </div>
