
  <div class="work_container">
    <div class="work_side_bar">
      <!--  menu icon -->
      <div class="menu_icon">
        <img src="/css/img/menu_icon_black.png"/>
      </div>

      <div class="side_navigation">
        <p> projects </p>
        <hr>
      </div>

    </div>
    <div class="work_section_container">
      <div class="work_section_intro">
        <p>
          Mauris eget ornare odio. Suspendisse a pulvinar lacus.
          Aenean ut turpis eget arcu bibendum pretium. Integer eu egestas ante,
          ut dignissim justo. Nullam eget enim cursus, vestibulum justo non,
          sollicitudin lectus. Curabitur id massa vel diam mollis consequat at
         id dolor.
        </p>
      </div>

      <div class="projects_container">
        <div class="project 1">
          <div class="col_1"></div>
          <div class="col_2"></div>
          <div class="col_3"></div>
        </div>
      </div>


    </div>

  </div>

  <div class="menu">
    <div class="menu_side_bar">
      <div class="main_page_logo">
        <img src="css/img/menu_icon_white.png" />
      </div>

  </div>
    <div class="menu_items">
      <p><a href="." >home </a></p>
      <p><a href="projects.html"> my work</a></p>
      <p><a href="about.html"> who am I? </a></p>
      <p><a href="blog.html"> blog</a> </p>
    </div>

  </div>
