
  <div class="work_container">
    <div class="work_side_bar">
      <!--  menu icon -->
      <div class="menu_icon">
        <img src="/css/img/menu_icon_black.png"/>
      </div>

      <div class="side_navigation">
        <p> PROJECTS </p>
        <hr>
      </div>

    </div>
    <div class="work_section_container">
      <div class="work_section_intro">
        <p>
          Mauris eget ornare odio. Suspendisse a pulvinar lacus.
          Aenean ut turpis eget arcu bibendum pretium. Integer eu egestas ante,
          ut dignissim justo. Nullam eget enim cursus, vestibulum justo non,
          sollicitudin lectus. Curabitur id massa vel diam mollis consequat at
         id dolor.
        </p>
      </div>

      <div class="projects_container">

        <div class="project">
          <div class="project_title">Case study 1</div>
          <div class="project_info">
            <div class="project_description_left">
              <p>Donec eget varius dolor. Proin mattis elit ac sodales vulputate.
                 Sed vitae est a mauris facilisis ultricies id eget orci.
                  Interdum et malesuada fames ac ante ipsum primis in faucibus.
                   Aenean dapibus dui nec nisl laoreet malesuada.</p>
              <p> Hover on the image to play animation! </p>
            </div>
            <div class="project_image">
              <img src="css/img/work1.png"/>
            </div>
            <div class="project_description_right">
              <p> Sed pellentesque tristique lectus eu molestie.
                Praesent sed feugiat eros, eu ornare turpis.<strong> Mauris egestas
                 placerat tempus</strong>. Aliquam nec gravida justo, vitae faucibus
                 turpis. </p>
            </div>
          </div>
          <div class="view_project">
            <p>VIEW CASE STUDY</p>
          </div>


        </div>

        <hr>

        <div class="project">
          <div class="project_title">Case study 2</div>
          <div class="project_info">
            <div class="project_description_left">
              <p>Curabitur magna mi, iaculis eget placerat vitae, consequat
                nec orci. Nullam tincidunt eleifend vestibulum. Etiam eleifend
                 blandit dui egetsagittis. Mauris dolor tellus, porttitor eu
                 arcu eu, laoreet mattis magna.</p>

              <p> View demo! </p>
            </div>
            <div class="project_image">
              <img src="css/img/work4.png"/>
            </div>
            <div class="project_description_right two">
              <p> Mauris et enim lacinia, mollis dolor et, tempus purus.
                Nunc odio orci, <strong>lacinia </strong>sit amet pharetra a, commodo ac turpis.
                Integer malesuada ut orci vel cursus.</p>
            </div>
          </div>
          <div class="view_project two">
            <p>VIEW CASE STUDY</p>
          </div>


        </div>

      </div>


    </div>

  </div>

  <div class="menu">
    <div class="menu_side_bar">
      <div class="main_page_logo">
        <img src="css/img/menu_icon_white.png" />
      </div>

  </div>
    <div class="menu_items">
      <p><a href="." >home </a></p>
      <p><a href="projects.html"> my work</a></p>
      <p><a href="about.html"> who am I? </a></p>
      <p><a href="blog.html"> blog</a> </p>
    </div>

  </div>
