.blog_container
  color: #0d0c10
  height: auto
  display: flex
  .blog_side_bar
    position: fixed
    display: flex
    flex-direction: column
    align-items: center
    height: 100vh
    width: 70px
    .menu_icon
      padding-top: 30px
      cursor: pointer
    .side_navigation
      text-align: center
      display: flex
      flex-direction: column
      justify-content: center
      width: 100%
      height: 100%
      p
        width: 70px
        height: 21px
        font-family: 'Halant'
        font-size: 10pt
        letter-spacing: 4
        transform: rotate(-90deg)
      hr
        margin-top: 20px
        height: 60px
        border-left: 1px solid #0d0c10
        border-right: none

  .blog_section_container
    padding-right: 80px
    padding-left: 120px
    padding-top: 80px
    display: flex
    flex-direction: column
    width: 100%
    .blog_section_intro
      display: flex
      align-self: center
      font-family: 'Halant'
      font-weight: 300
      font-size: 35px
      width: 70%
      margin-bottom: 150px
  .post_divider
    width: 300px
  .post
    width: 100%
    display: flex
    justify-content: flex-end
    margin-bottom: 80px
    margin-top: 80px
    .post_info
      padding: 50px
      padding-top: 20px
      box-sizing: border-box
      text-align: right
      width: 35%
      h1
        font-family: kayak
        font-size: 70px
        margin: 0
      h3
        font-family: 'halant'
        font-style: italic
        font-size: 12px
      p
        font-family: 'halant'
        font-size: 20px
        margin-top: 50px
      .view_post
        float: right
        text-align: center
        font-family: kayak
        font-size: 20px
        padding: 15px
        border: 1px solid black
        margin-top: 50px
        width: 45%
        &:hover
          cursor: pointer
          background-color: black
          color: white
    .post_image
      img
        width: 800px
        height: auto
